extends layout

block content
  form(action="/", method="post")
    label Project Name 
    input(type="text", class="form-control line-height", name="project", placeholder="Project Name")
    textarea(class="form-control line-height" rows="20", name="script", placeholder="Testing Script")
    input(type="submit", class="btn btn-primary", value="Excute")
