doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    h1.header= title
    div.container
        div.warper
            if report
                div.report
                    pre= report
            block content
            
    

