body {
  padding: 0;
  font-family: 'Raleway', sans-serif !important;
}

a {
  color: #00B7FF;
}

label {
    font-size: 21px;
    margin-bottom: 20px !important;
}

.header {
    text-align: center;
    margin-bottom: 50px
}

div.warper {
    text-align: center;
}

.line-height {
    margin-bottom: 20px;
}

input.btn.btn-primary {
    font-size: 20px;
    width: 100%;
    padding: 18px;
    margin-bottom: 40px;
}

div.report pre {
  width: 80%;
  margin: -28px auto 30px auto;
  font-weight: bold;
  font-size: 18px;
  background-color: green;
  color: #fff;
}